html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  letter-spacing: .4px;
  font-family: "Poppins", sans-serif;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

nav {
  display: none;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  nav {
    display: flex;
    border-right: solid 3px #00aff0;
    overflow: hidden;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  nav h1 {
    font-size: 8rem;
    color: #00aff0;
    width: 100%;
    margin: 0 auto;
    top: 0;
    border-bottom: 3px solid #00aff0;
  }
  .nav-menu {
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
  }
  .nav-menu li i {
    padding: 15px 5px 0;
    color: #00aff0;
  }
  .nav-menu li i:hover {
    color: black;
  }
  .nav-menu .fab {
    font-size: 2.5rem;
  }
  .nav-li {
    padding: 15px 0 15px 0;
  }
  .nav-li:hover {
    background: linear-gradient(#00aff0, #00aff0) bottom no-repeat;
    background-size: 50% 3px;
  }
  .contact-nav {
    border-top: 3px solid #00aff0;
    border-bottom: 3px solid #00aff0;
  }
}

@media screen and (min-width: 992px) {
  main {
    padding-left: 200px;
  }
}

.hero {
  height: 100vh;
  background-image: url(../../images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  position: relative;
}

.hero h1 {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size: 3.4rem;
  font-weight: 700;
}

.hero h2 {
  padding-top: 20px;
  font-size: 2.3rem;
}

.hero div {
  display: flex;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  position: absolute;
  bottom: 5vh;
}

.hero a {
  width: 200px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero h1 {
    width: 100%;
    font-size: 5rem;
  }
  .hero h2 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero h1 {
    font-size: 6.5rem;
  }
  .hero h2 {
    font-size: 4rem;
  }
}

.projects {
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  width: 90%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  margin: 10px 5px 10px;
  overflow: hidden;
  background-color: #f4f0ec;
}

.cards a:hover {
  cursor: pointer;
}

.cards h2 {
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.cards p {
  padding: 10px 0px 10px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
}

.cards p:hover {
  font-size: 1.4rem;
}

.cards img {
  width: 100%;
  max-width: 550px;
  height: auto;
}

.cards img:hover {
  opacity: 0.5;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .cards h2 {
    font-size: 3rem;
  }
  .cards p {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .cards p:hover {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    width: 350px;
  }
  .card-3, .card-4, .card-5, .card-6 {
    margin-top: 0px;
  }
}

@media screen and (min-width: 992px) {
  .cards {
    flex-basis: 40%;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    flex-basis: 30%;
    flex-grow: 1;
  }
  .card-4, .card-5, .card-6 {
    margin-top: 0px;
  }
}

.contact-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.contact-me h2 {
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 20px;
}

.contact-me p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3rem;
  padding-bottom: 20px;
}

.contact-me a {
  padding-bottom: 20px;
  text-decoration: underline;
  color: #0066CC;
  font-size: 1.7rem;
  font-weight: 500;
  width: 260px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.contact-form input[type=text] {
  font-size: 1.3rem;
  font-weight: 400;
  background-color: #eee;
  height: 50px;
  margin: 10px 0px;
  padding-left: 5px;
  border: 1px solid #dcdcdc;
}

.contact-form .message {
  background-color: #eee;
  border: 1px solid #dcdcdc;
  font-size: 1.3rem;
  font-weight: 400;
  padding-left: 5px;
  margin: 10px 0;
}

.contact-form input[type=submit] {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  width: 130px;
  height: 35px;
}
