html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  letter-spacing: .4px;
  font-family: sans-serif;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}
