$font-default: 'Poppins', sans-serif;

// $color-blue: #00aff0;
$color-green: #116466;
$color-green-hvr: #589394;
$color-grey-bg: #f4f0ec;
$color-greg-brdr: #dcdcdc;
$color-grey-dark:  #848482;
$color-blue-link: #0066CC;
$color-blue-link-hvr: #00478F;

// Screen Sizes

$small-dev: 576px;
$med-dev: 768px;
$large-dev: 992px;
$xl-dev: 1200px;