.aboutme-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-default;
}

.aboutme-art {
    margin: 0 auto;
    width: 90%;

    & h1, h2 {
        color: $color-green;
        text-align: center;
        font-size: 4rem;
        font-weight: 500;
        margin: 25px 0px;
    }

    & p {
        font-size: 1.6rem;
        font-weight: 400;
    }

    & a {
        color: $color-green;
        &:hover {
            color: $color-green-hvr;
            text-decoration: underline;
        }
    }
}

.qualifications {
    margin-bottom: 30px;
    & h3 {
        font-size: 1.85rem;
        font-weight: 500;
    }
    & p {
        font-size: 1.6rem; 
    }
}

.skills-info {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 40px;

    & ul {
        list-style-position: inside;
        padding-left: 0;
        margin-left: 0px;
    }

}

@media screen and (min-width: $small-dev) {
    .aboutme-art {
        width: 70%;
    }
}

@media screen and (min-width: $med-dev) {
    .aboutme-art {
        width: 60%;
    }
}

@media screen and (min-width: $large-dev) {
    .aboutme-art {
        width: 45%;
    
        & h1, h2 {
            font-size: 4.5rem;
            font-weight: 500;
            margin: 55px 0px;
        }
    
        & p {
            font-size: 2rem;
            font-weight: 400;
        }
    }

    .qualifications {
        & h3 {
            font-size: 2.4rem;
            font-weight: 500;
            margin-bottom: 10px;
        }
        & p {
            font-size: 1.8rem; 
        }
    }

    .skills-info {
        font-size: 2rem;
        margin-bottom: 55px;
    }
}