.back-to-top {
    width: 200px;
    box-sizing: border-box;
    text-align: center;
    font-style: $font-default;
    font-size: 1.7rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto 25px;
    
    &:hover {
        transform: scale(1.2);
    }

    & a {
        font-size: 1.7rem;
        font-weight: 500; 
    }
 }