.coding-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-default;
}

.coding-info {
    margin: 20% auto;
    width: 90%;
     & h1 {
        text-align: center;
        font-size: 4rem;
        font-weight: 500;
        color: $color-green;
     }
}