.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin: 0 auto;
    
    margin-bottom: 25px;
}

.contact-me {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: $font-default;

    & h2 {
        font-size: 4rem;
        font-weight: 500;
        padding-bottom: 20px;
        color: $color-green;
    }

    & p {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3rem;
        padding-bottom: 20px;
    }

    & a {
        padding-bottom: 20px;
        text-decoration: underline;
        color: $color-blue-link;
        font-size: 1.7rem;
        font-weight: 500;
        width: 260px;
        &:hover {
            color: $color-blue-link-hvr;
        }
    }
}

.contact-form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-default;

    & input[type=text] {
        font-size: 1.3rem;
        font-weight: 400;
        background-color: #eee;
        // height: 50px;
        padding: 12px 0 12px 5px;
        margin: 10px 0px;
        line-height: 100%;
        // padding-left: 5px;
        border: 1px solid $color-greg-brdr;
        flex-grow: 1;
        flex-basis: 100%;
    }
    
    & .message {
        background-color: #eee;
        border: 1px solid $color-greg-brdr;
        font-size: 1.3rem;
        font-weight: 400;
        padding-left: 5px;
        margin: 10px 0;
    }

    & button {
        font-family: $font-default;
        font-size: 1.3rem;
        font-weight: 500;
        width: 130px;
        height: 35px;
        margin: 10px 0;
    }

    & textarea {
        resize: none;
    }

    & .submit {
        cursor: pointer;
    }
}

@media screen and (max-width: 767px) {
    .contact-me {
        justify-content: center;

        & h2 {
            text-align: center;
        }
    }
}

@media screen and (min-width: $large-dev) {
    .contact-section {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contact-me {
        flex-grow: 1;
        flex-basis: 35%;
        margin-left: 15px;
        padding-right: 10px;

        & h2 {

        }
    }
    .contact-form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        flex-grow: 1;
        flex-basis: 55%;
        margin-right: 15px;
    }

    #name {
        // width: 40%;
        flex-grow: 1;
        flex-basis: 30%;
        margin-right: 10px;
    }

    #cont-number {
        // width: 40%;
        flex-grow: 1;
        flex-basis: 30%;
    }

    #message {
        flex-grow: 1;
        flex-basis: 100%;
    }

}
