
.scs-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-default;
}

.scs-art {
    margin: 0 auto;
    width: 90%;
    & h1 {
        color: $color-green;
        text-align: center;
        font-size: 4rem;
        font-weight: 500;
        margin: 25px 0px 70px;
    }
}


.scs-info {
    margin-bottom: 30px;
    font-size: 1.6rem; 
    
    & h2 {
        font-size: 2.6rem;
        font-weight: 500;
        color: $color-green;
        margin-bottom: 25px;
    }

    & p {
        font-weight: 400;
    }

    & h3 {
        margin: 20px 0;
        font-weight: 500;
    }

    & a {
        color: $color-blue-link;
        &:hover {
            color: $color-blue-link-hvr;
            text-decoration: underline;
        }
    }
}

#profile {
    font-weight: 500;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
    .scs-art {
        & h1 {
            margin-top: 60px;
        }
    }
}

@media screen and (min-width: $small-dev) {
    .scs-art {
        width: 70%;
    }
}

@media screen and (min-width: $med-dev) {
    .scs-art {
        width: 60%;
    }
}

@media screen and (min-width: $large-dev) {
    .scs-art {
        width: 45%;
    
        & h1 {
            font-size: 4.5rem;
            font-weight: 500;
            margin: 55px 0px;
        }
    }

    .scs-info {
        margin: 50px 0;
        font-size: 2rem; 
        & h2 {
            font-size: 3.2rem;
            font-weight: 500;
            margin-bottom: 50px;
        }
    }
}